Event,StartTime,EndTime,Recurring
Wake up + hydrate,05:30:00,06:00:00,"FREQ=DAILY"
Strength Training,06:00:00,07:30:00,"FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR,SA"
Active rest day activity,06:00:00,07:30:00,"FREQ=WEEKLY;BYDAY=SU"
Shower + get ready,07:30:00,08:15:00,"FREQ=DAILY"
Work at DigitalOcean,08:15:00,16:30:00,"FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR"
Lunch,12:00:00,12:45:00,"FREQ=DAILY"
Writing,08:15:00,12:00:00,"FREQ=WEEKLY;BYDAY=SA"
Cardio + endurance activity,18:00:00,19:00:00,"FREQ=DAILY"
Dinner,19:00:00,20:00:00,"FREQ=DAILY"
Life Skills Software,20:00:00,21:00:00,"FREQ=WEEKLY;BYDAY=MO"
Open Source (hugo),20:00:00,21:00:00,"FREQ=WEEKLY;BYDAY=TU"
Ceph & Rust,20:00:00,21:00:00,"FREQ=WEEKLY;BYDAY=WE"
GPU & Zig,20:00:00,21:00:00,"FREQ=WEEKLY;BYDAY=TH"
Godot Game Dev,20:00:00,21:00:00,"FREQ=WEEKLY;BYDAY=FR"
Read,21:00:00,22:00:00,"FREQ=WEEKLY;BYDAY=TU,WE,TH,FR,SA,SU"
Entertainment,21:00:00,23:00:00,"FREQ=WEEKLY;BYDAY=MO"
Call Batool,22:00:00,22:30:00,"FREQ=WEEKLY;BYDAY=TU,WE,TH,FR"
